<section class="auth-form">
  <h2>Registro</h2>
  <form [formGroup]="registerForm" (ngSubmit)="register()" >
    <label>Usuario:</label>
    <input type="text" formControlName="username" />
    
    <label>Nombre:</label>
    <input type="text" formControlName="name" />

    <label>Correo electrónico:</label>
    <input type="email" formControlName="email" />

    <label>Contraseña:</label>
    <input type="password" formControlName="password" />

    <label>Confirmar contraseña:</label>
    <input type="password" formControlName="confirmPassword" />

    <button type="submit">Registrar</button>
  </form>
</section>
  